<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

	<form id="main"  method="post" role="form"  enctype = "multipart/form-data">

		<div class="form-group" id="main_form" >
          <h3>Name</h3> 
          <textarea id="main_form" name = 'name' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>
		<br>
		<div class="form-group" id="main_form" >
          <h3>Qualification</h3> 
          <textarea id="main_form" name = 'qualification' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>

		<div class="form-group" id="main_form" >
          <h3>Bio</h3> 
          <textarea id="main_form" name = 'bio' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>

		<div class="form-group" id="main_form" >
          <h3>Expertise</h3> 
          <textarea id="main_form" name = 'expertise' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>

        <h3> Social Media Links </h3>
		<div class="form-group" id="main_form" >
          <h3>Linkedin Link</h3> 
          <textarea id="main_form" name = 'linkedin' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>

		<div class="form-group" id="main_form" >
          <h3>Facebook Link</h3> 
          <textarea id="main_form" name = 'facebook' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>

		<div class="form-group" id="main_form" >
          <h3>Twitter Link</h3> 
          <textarea id="main_form" name = 'twitter' class ='form-control input-char-count' name='post' maxlength="100"></textarea>
		</div>
  
     <button type="submit" id="button_submit" class="btn btn-default">Submit</button>
	</form>
</body>
</html>